<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Hello Welcome to Home Page</h1>

    <h2>Enter your details</h2>
    <!-- <h2>Enter two values to add</h2> -->

    <form action="/" method="POST"> 
        <input type="text" name="name" required="required">
        <br><br>
        <input type="text" name="email" required="required">
        <br><br>
        <input type="text" name="roll" required="required">
        <br><br>
        <input type="text" name="course" required="required">
        <br><br>
        <input type="submit" value="Add">
    </form>

    <!-- {{message}} -->
    <br><br>
    <form action="/about">
        <input type="submit" value="Get Records">

    </form>

</body>
</html>